.image-card {
  position: relative;
  width: 100%;
  background-size: cover;
  margin-bottom: 15px;
  background-color: #ccc;
  transform: scale(1);
  transition: transform .4s ease-out;
  // Maintain aspect ratio
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  > .inner {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    transition: opacity .35s ease-in-out;

    > .user-info {
      position: absolute;
      bottom: 5px;
      left: 5px;

      > p {
        display: inline-block;
        color: #fff;
        margin: 0 0 0 10px;
        width: 240px;
        position: absolute;
        line-height: 40px;
        font-size: 12px;
      }

      > .avatar {
        border-radius: 9999px;
        position: relative;
      }

    }

    > .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;

      > em {
        display: block;
        margin: 0;
      }

      > span {
        font-size: 12px;
      }
    }

  }
  // state
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1;
    .inner {
      opacity: 1;
    }
  }
}
