.modal-bkg {
  position: fixed;
  overflow: hidden;
  z-index: 200;
  background-color: rgba(0,0,0,0);
  transition: background-color .5s ease-in-out, opacity .5s ease-in-out;
  opacity: 0;
  &.show {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.85);
    opacity: 1;
    > .modal {
      width: 96%;
      max-width: 600px;
      max-height: 600px;
      position: fixed;
      z-index: 201;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      > img {
        width: 100%;
      }

      > a {
        position: absolute;
        bottom: 15px;
        right: 15px;
        padding: 5px 10px;
        background-color: rgba(0,0,0,.85);
        color: rgba(255,255,255,1);
        text-decoration: none;
        font-size: 12px;
      }

    }

  }
}
