/**
 * No need to break this out in the 7-1 pattern...
 */

$phablet: 550px;
$tablet: 750px;
$desktop: 950px;

$headerHeight: 60px;

@import '../node_modules/normalize.css/normalize.css';

body {
  background-color: #eee;
}

.gallery {
  height: 100%;
  > header {
    position: fixed;
    display: flex;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: $headerHeight;
    top: 0;
    border-bottom: 3px solid rgb(9, 178, 216);

    > h2 {
      display: none;
      margin: 0 20px 0;
      line-height: $headerHeight;
      font-size: 18px;
      color: #555;
      font-weight: 100;
    }

    > .filter {
      flex: 1;
      > input {
        height: $headerHeight;
        padding: 0;
        border: none;
        width: 100%;
        font-size: 24px;
        color: #888;
        text-align: center;
        &:focus {
          outline: none;
        }
      }
    }

  }

  > .gallery-images {
    margin-top: $headerHeight;
    padding: 5px 0;
    > h2 {
      margin: 0;
      padding: 20px 0;
      text-align: center;
      background: #eee;
      color: #888;
    }
    > .end-of-images {
      width: 100%;
      text-align: center;
      font-size: 28px;
      color: #999;
    }
    > .images-wrap {
      display: flex;
      flex-flow: row wrap;
      margin: 15px;
      > .spinner-wrap {
        width: 100%;
      }      
    }
  }

  @media (min-width: $phablet) {
    header {
      // Display logo on everything larger than mobile
      > h2 {
        display: block;
        margin-right: 30px;
      }

      > .filter {
        margin-right: 20px;
        > input {
          text-align: right;
        }
      }
    }
    .gallery-images .images-wrap .image-card {
      margin-bottom: 0;
      width: 50%;
    }
  }
  @media (min-width: $tablet) {
    .gallery-images .images-wrap .image-card {
      width: 33.3%;
    }
  }
  @media (min-width: $desktop) {
    .gallery-images .images-wrap .image-card {
      width: 25%;
    }
  }
}
